.card {
	background-color: #f8f9fa;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: flex-start;
	justify-content: center;
	overflow-y: scroll;
	font-size: 9px;
	width: 100%;
	height: 100vh;
}

.card-grid {
	columns: 4;
	column-gap: 5px;
	width: 100%;
}

.card-item {
	background-color: #ffffff;
	border: 1px solid #ddd;
	padding: 3px 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: 100%;
	break-inside: avoid;
}

.card-item-topic {
	font-weight: bold;
	margin-bottom: 5px;
	text-align: left;
	width: fit-content;
}

.card-item-code {
	white-space: pre-wrap;
	word-wrap: break-word;
	width: fit-content;
	max-width: 300px;
	overflow: scroll;
}
