@import '../variables/variables.scss';
@import '../mixins/mixins';

.search-bar {
	width: 100%;
}

.search-bar input {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: none;
	font-size: 1rem;
	@include transition(
		box-shadow 0.3s ease,
		transform 0.3s ease
	);
	outline: none;

	&:focus {
		@include box-shadow(0 0 10px $celestial-blue);
		transform: scale(1.05);
	}
}

body.dark-mode .search-bar input {
	background: $english-violet;
	color: $thistle;
}

body.dark-mode .search-bar input:focus {
	@include box-shadow(0 0 10px rgba($celestial-blue, 0.5));
}

body.light-mode .search-bar input {
	background: $columbia-blue;
	color: $rich-black;
}

body.light-mode .search-bar input:focus {
	@include box-shadow(0 0 5px rgba($rich-black, 0.1));
}
