@import './variables/variables';
@import './mixins/mixins';

.token.comment,
.token.prolog,
.token.doctype,
.token .cdata {
	color: $midnight-blue !important;
}

body.dark-mode .token.comment,
body.dark-mode .token.prolog,
body.dark-mode .token.doctype,
body.dark-mode .token.cdata {
	color: $caribbean-current !important;
}

.token.keyword {
	color: $celestial-blue !important;
}

body.dark-mode .token.keyword {
	color: $auburn !important;
}

.token.string {
	color: $fluorescent-cyan !important;
}

body.dark-mode .token.string {
	color: $vanilla !important;
}

.token.function {
	color: $burgundy !important;
}

body.dark-mode .token.function {
	color: $hunyadi-yellow !important;
}

.token.operator {
	color: $rich-black !important;
}

body.dark-mode .token.operator {
	color: $chocolate-cosmos !important;
	background: transparent;
}

pre[class*='language-'] {
	margin: 0;
	padding: 0;
	width: 100%;
}

body.dark-mode pre[class*='language-'] {
	background: #d3d3d3;
	color: #000000;
}

body.light-mode pre[class*='language-'] {
	background: #ffffff;
	color: $rich-black;
	@include box-shadow(0 0 5px rgba(0, 0, 0, 0.1));
}
