/* Customize the color of comments */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #008000 !important; // Bright green
}

/* Customize the color of keywords */
.token.keyword {
	color: #0000ff !important; // Bright blue
}

/* Customize the color of strings */
.token.string {
	color: #a31515 !important; // Bright red
}

/* Customize the color of functions */
.token.function {
	color: #795e26 !important; // Bright brown
}

/* Customize the color of operators */
.token.operator {
	color: #000000 !important; // Black
}

pre[class*='language-'] {
	margin: 0;
	padding: 0;
}
