@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

.popular-searches {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $light-background;
	padding: 20px 0;
	@include box-shadow(0 4px 8px $light-shadow);
	width: 100vw;
	margin: 0;
	text-align: center;

	h2 {
		font-size: 2rem;
		color: $light-text;
		margin-bottom: 20px;
	}

	ul {
		list-style: none;
		padding: 20px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;
		font-size: 12px;

		li {
			background-color: $white;
			padding: 15px;
			border-radius: 5px;
			@include box-shadow(0 2px 4px $light-shadow);
			@include transition(transform 0.2s);

			&:hover {
				transform: translateY(-5px);
			}
		}
	}

	.search-input-container {
		width: 700px;
		border-radius: 4px;
		margin-bottom: 20px;

		.search-input {
			width: 100%;
			padding: 10px;
			border: 1px solid $light-border;
			border-radius: 4px;
		}
	}

	.go-back-button {
		background-color: $button-bg;
		color: $button-text;
		border: none;
		border-radius: 5px;
		padding: 10px 20px;
		font-size: 1rem;
		cursor: pointer;
		@include transition(background-color 0.3s);

		&:hover {
			background-color: $button-hover-bg;
		}
	}

	body.dark-mode & {
		.go-back-button {
			background-color: $dark-gray;
			color: $button-text;

			&:hover {
				background-color: #222;
			}
		}
	}

	@media (max-width: 768px) {
		h2 {
			font-size: 1.5rem;
			margin-bottom: 15px;
		}

		ul {
			grid-template-columns: repeat(2, 1fr);
			gap: 5px;
			font-size: 10px;

			li {
				padding: 10px;
			}
		}

		.search-input-container {
			max-width: 500px;
			width: 100%;

			.search-input {
				padding: 8px;
				font-size: 0.9rem;
			}
		}
	}

	@media (max-width: 480px) {
		ul {
			grid-template-columns: 1fr;
		}

		h2 {
			font-size: 1.2rem;
		}

		ul li {
			padding: 8px;
			font-size: 0.9rem;
		}

		.search-input-container {
			max-width: 300px;
			width: 100%;

			.search-input {
				font-size: 0.8rem;
				padding: 6px;
			}
		}
	}
}
