// Light Mode
$columbia-blue: #c1cfdaff;
$celestial-blue: #20a4f3ff;
$fluorescent-cyan: #59f8e8ff;
$burgundy: #941c2fff;
$rich-black: #03191eff;

// Dark Mode
$english-violet: #4a4063ff;
$thistle: #bfacc8ff;
$french-gray: #c8c6d7ff;
$eminence: #783f8eff;
$indigo: #4f1271ff;

// Dark Blue Colors
$midnight-blue: #003366;
$prussian-blue: #003153;
$space-cadet: #1d2951;
$dark-cerulean: #08457e;
$indigo-dye: #00416a;

// Additional Colors
$white: #ffffff;
$black: #000000;
$dark-slate-gray: #335c67ff;
$vanilla: #fff3b0ff;
$hunyadi-yellow: #e09f3eff;
$auburn: #9e2a2bff;
$chocolate-cosmos: #540b0eff;
$caribbean-current: #197278ff;
