@charset "UTF-8";
.filter-dropdown {
  position: relative;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}
.filter-dropdown select {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #03191e;
  font-size: 0.75rem;
  background: #c1cfda;
  color: #03191e;
  transition: background 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  padding-right: 30px;
}
.filter-dropdown select:hover {
  background: #20a4f3;
  transform: scale(1.05);
  border-color: #20a4f3;
  box-shadow: 0 0 10px rgba(32, 164, 243, 0.5);
}
.filter-dropdown select:focus {
  outline: none;
  border-color: #20a4f3;
  box-shadow: 0 0 10px rgba(32, 164, 243, 0.5);
}
.filter-dropdown select option {
  position: relative;
  z-index: 1;
}
.filter-dropdown::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #03191e;
}
select:focus + .filter-dropdown::after {
  transform: translateY(-50%) rotate(180deg);
}
.filter-dropdown select option {
  background: #c1cfda;
  color: #03191e;
  padding: 5px;
}

.filter-dropdown select:focus {
  outline: none;
  border-color: #20a4f3;
  box-shadow: 0 0 10px rgba(32, 164, 243, 0.5);
}

.filter-dropdown select:hover {
  background: #20a4f3;
  transform: scale(1.05);
  border-color: #20a4f3;
  box-shadow: 0 0 10px rgba(32, 164, 243, 0.5);
}

.filter-selected {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #03191e;
  font-size: 0.75rem;
  background: #c1cfda;
  color: #03191e;
  transition: background 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
  padding-right: 30px;
}

.filter-options {
  position: absolute;
  top: 100%;
  left: 0;
  background: #c1cfda;
  border: 1px solid #03191e;
  border-radius: 5px;
  width: 100%;
  z-index: 20;
  width: -moz-fit-content;
  width: fit-content;
}

.filter-options div {
  padding: 5px 10px;
  color: #ffffff;
  transition: background 0.3s ease;
}

.filter-options div:hover {
  background: #20a4f3;
}

body.dark-mode .filter-dropdown select {
  background: #4a4063;
  color: #ffffff;
  border: 1px solid #4f1271;
  box-shadow: 0 0 10px rgba(32, 164, 243, 0.5);
}

body.dark-mode .filter-dropdown .filter-selected {
  background: #4a4063;
  color: #ffffff;
  border: 1px solid #4f1271;
  box-shadow: 0 0 10px rgba(32, 164, 243, 0.5);
}

body.dark-mode .filter-dropdown .filter-options {
  color: #ffffff;
  background: #4a4063;
  border: 1px solid #4f1271;
  box-shadow: 0 0 10px rgba(32, 164, 243, 0.5);
}

body.light-mode .filter-dropdown select {
  background: #c1cfda;
  color: #ffffff;
  border: 1px solid #20a4f3;
  box-shadow: 0 0 5px rgba(3, 25, 30, 0.1);
}

body.light-mode .filter-dropdown .filter-selected {
  background: #c1cfda;
  color: #ffffff;
  border: 1px solid #20a4f3;
  box-shadow: 0 0 5px rgba(3, 25, 30, 0.1);
}

body.light-mode .filter-dropdown .filter-options {
  background: #c1cfda;
  border: 1px solid #20a4f3;
  box-shadow: 0 0 5px rgba(3, 25, 30, 0.1);
}/*# sourceMappingURL=FilterDropdown.css.map */