@charset "UTF-8";
.filter-dropdown {
  position: relative;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
}
.filter-dropdown select {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #555;
  font-size: 0.75rem;
  background: #333;
  color: #ffffff;
  transition: background 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  padding-right: 30px;
}
.filter-dropdown select:hover {
  background: #555;
  transform: scale(1.05);
  border-color: #00ccff;
  box-shadow: 0 0 10px rgba(0, 204, 255, 0.5);
}
.filter-dropdown select:focus {
  outline: none;
  border-color: #00ccff;
  box-shadow: 0 0 10px rgba(0, 204, 255, 0.5);
}
.filter-dropdown select option {
  position: relative;
  z-index: 1;
}
.filter-dropdown::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #ffffff;
}
select:focus + .filter-dropdown::after {
  transform: translateY(-50%) rotate(180deg);
}
.filter-dropdown select option {
  background: #333;
  color: #ffffff;
  padding: 5px;
}

.filter-dropdown select:focus {
  outline: none;
  border-color: #00ccff;
  box-shadow: 0 0 10px rgba(0, 204, 255, 0.5);
}

.filter-dropdown select:hover {
  background: #555;
  transform: scale(1.05);
  border-color: #00ccff;
  box-shadow: 0 0 10px rgba(0, 204, 255, 0.5);
}

.filter-selected {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #555;
  font-size: 0.75rem;
  background: #333;
  color: #ffffff;
  transition: background 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
  padding-right: 30px;
}

.filter-options {
  position: absolute;
  top: 100%;
  left: 0;
  background: #333;
  border: 1px solid #555;
  border-radius: 5px;
  width: 100%;
  z-index: 1;
  width: -moz-fit-content;
  width: fit-content;
}

.filter-options div {
  padding: 5px 10px;
  color: #ffffff;
  transition: background 0.3s ease;
}

.filter-options div:hover {
  background: #555;
}

body.dark-mode .filter-dropdown select {
  background: #d3d3d3;
  color: #ffffff;
  border: 1px solid #555555;
  box-shadow: 0 0 10px rgba(0, 204, 255, 0.5);
}

body.dark-mode .filter-dropdown .filter-selected {
  background: #d3d3d3;
  color: #ffffff;
  border: 1px solid #555555;
  box-shadow: 0 0 10px rgba(0, 204, 255, 0.5);
}

body.dark-mode .filter-dropdown .filter-options {
  background: #d3d3d3;
  border: 1px solid #555555;
  box-shadow: 0 0 10px rgba(0, 204, 255, 0.5);
}

body.light-mode .filter-dropdown select {
  background: #ffffff;
  color: #333;
  border: 1px solid #cccccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

body.light-mode .filter-dropdown .filter-selected {
  background: #ffffff;
  color: #333;
  border: 1px solid #cccccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

body.light-mode .filter-dropdown .filter-options {
  background: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}/*# sourceMappingURL=FilterDropdown.css.map */