@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 20px;
	@include linear-gradient-bg(
		45deg,
		$rich-black,
		$columbia-blue
	);
	@include transition(background 0.3s ease);

	&:hover {
		@include linear-gradient-bg(
			45deg,
			$rich-black,
			$celestial-blue
		);
	}

	.name {
		font-size: 1rem;
		font-weight: bold;
		color: $fluorescent-cyan;
		margin-right: 20px;
		animation: fadeIn 1s ease-in-out;
	}

	.left-section {
		display: flex;
		align-items: center;
		gap: 20px;
		width: 100%;
	}

	.right-section {
		display: flex;
		align-items: center;
		gap: 20px;
		width: 100%;
		max-width: 500px;
	}

	.tabs {
		display: flex;
		gap: 10px;
		animation: slideIn 1s ease-in-out;
	}

	.tab {
		padding: 2px 5px;
		font-size: 1rem;
		font-weight: bold;
		color: #ffffff;
		background: #333;
		border-radius: 3px;
		cursor: pointer;
		@include transition(
			background 0.3s ease,
			transform 0.3s ease
		);

		&:hover {
			background: #555;
			transform: scale(1.05);
			@include box-shadow(0 0 10px rgba(0, 204, 255, 0.5));
		}

		&.active {
			background: #00ccff;
			color: #000;
			transform: scale(1.1);
			@include box-shadow(0 0 10px rgba(0, 204, 255, 0.5));
		}
	}

	.search-bar {
		width: 100%;
		input {
			width: 100%;
			padding: 5px;
			border-radius: 3px;
			border: none;
			font-size: 1rem;
		}
		animation: fadeIn 1s ease-in-out;
	}

	.links {
		display: flex;
		gap: 15px;

		a {
			text-decoration: none;
			color: #ffffff;
			font-size: 1rem;
			transition: transform 0.3s ease, color 0.3s ease;

			&:hover {
				color: #00ccff;
				transform: scale(1.2) rotate(360deg);
				box-shadow: 0 0 10px rgba(0, 204, 255, 0.5);
			}
		}
		animation: fadeIn 1s ease-in-out;
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes slideIn {
		0% {
			transform: translateX(-100%);
		}
		100% {
			transform: translateX(0);
		}
	}
}

.header .tab:hover {
	background: #555;
	transform: scale(1.05);
	@include box-shadow(0 0 10px rgba(0, 204, 255, 0.5));
}

.header .tab.active {
	background: #00ccff;
	color: #000;
	transform: scale(1.1);
	@include box-shadow(0 0 10px rgba(0, 204, 255, 0.5));
}

.header .links a:hover {
	color: #00ccff;
	transform: scale(1.2) rotate(360deg);
	box-shadow: 0 0 10px rgba(0, 204, 255, 0.5);
}

body.dark-mode .header {
	@include linear-gradient-bg(
		45deg,
		$english-violet,
		$french-gray
	);
	@include box-shadow(0 0 10px rgba($celestial-blue, 0.5));
}

body.dark-mode .header .name {
	color: $thistle;
}

body.dark-mode .header .tab {
	background: $eminence;
	color: $thistle;
	box-shadow: 0 0 5px rgba($celestial-blue, 0.5);
}

body.dark-mode .header .tab.active {
	background: $celestial-blue;
	color: $rich-black;
}

body.dark-mode .header .links a {
	color: $thistle;
}

body.light-mode .header {
	@include linear-gradient-bg(
		45deg,
		$columbia-blue,
		$celestial-blue
	);
	box-shadow: 0 0 5px rgba($rich-black, 0.1);
}

body.light-mode .header .name {
	color: $rich-black;
}

body.light-mode .header .tab {
	background: $fluorescent-cyan;
	color: $rich-black;
	box-shadow: 0 0 5px rgba($rich-black, 0.1);
}

body.light-mode .header .tab.active {
	background: $celestial-blue;
	color: $fluorescent-cyan;
}

body.light-mode .header .links a {
	color: $rich-black;
}
