@import './styles/variables.scss';

.App {
	padding: 0;
	margin: 0;
	overflow: hidden;
	height: 100vh;
	width: 100vw;

	@include transition(background 0.3s ease);

	&:hover {
		background: #f0f0f0;
	}
}

body.dark-mode {
	background-color: $dark-background;
	color: $white;
}

body.dark-mode .header {
	@include linear-gradient-bg(
		45deg,
		$dark-gray,
		$medium-gray
	);
}

body.dark-mode .card {
	background-color: $dark-gray;
}

body.dark-mode .card-item {
	border: 1px solid $dark-border;
}

body.dark-mode .filter-dropdown select,
body.dark-mode .filter-dropdown .filter-selected,
body.dark-mode .filter-dropdown .filter-options {
	background: $dark-gray;
	color: $white;
	border: 1px solid $dark-border;
}

body.dark-mode .App {
	background-color: $dark-background;
	color: $white;
}

body.light-mode .App {
	background-color: $light-background;
	color: $light-text;
}
