@import './styles/variables.scss';

*,
body {
	padding: 0;
	margin: 0;
}

body.dark-mode {
	background-color: $dark-background;
	color: $white;
}

body.light-mode {
	background-color: $light-background;
	color: $light-text;
}
